In [3]:
import  pandas as pd
import numpy as np

In [6]:
wave_data = pd.read_csv('https://raw.githubusercontent.com/jamesrobertlloyd/gpss-research/master/data/tsdlr_5050/daily-minimum-temperatures-in-me-train.csv', header=None, names=["Date", "Temp"])
wave_data = wave_data.sort_values(by=['Date'])
wave_data

            Date  Temp
463  1981.024658  21.8
7    1981.027397  20.0
326  1981.030137  16.2
1    1981.049315  24.8
124  1981.063014  14.4
..           ...   ...
166  1990.884932   9.9
226  1990.912329  14.7
205  1990.928767  20.5
420  1990.964384  17.2
220  1990.986301  14.6

[500 rows x 2 columns]